@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border-radius: 0%;
    user-select: none;

}

body {
    background: #1F2937;
}

.sidebar {
    position: relative;
    top: 37.5%;
}

::-webkit-scrollbar {
    display: none;
}



@media (min-width:1491px){
    .videoList{
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 2;
    }
}


@media (max-width:600px) {
    .sidebar {
        position: relative;
        top: 29%;
    }
}